@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
}
.menu-lateral-esquerda, .menu-lateral-direita{
    width: 15%;
}

.menu-lateral-esquerda{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.a-esquerda{
    padding: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.a-esquerda:hover{
    background-color: rgba(256,256,256,0.2);
    border-radius: 1rem;
}
.img-esquerda{
    width: 32px;
}

.explorar{
    width: 35%;
    border-right: 1px solid #2f3336;
    border-left: 1px solid #2f3336;
}
.header-explorar{
    width: 34.9%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.explorar-header{
    font-weight: bold;
    font-size: 20px;
}
.engrenagem-header{
    width: 20px;
}
.cards{
    margin-top: 50px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card{
    width: 95%;
    display: flex;
    align-items: start;
    margin: auto;
    gap: 8px;
}
.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.username{
    color: #48525E;
}
.foto-conteudo{
    width: 100%;
    border-radius: 15px;
}
.action{
    display: flex;
    justify-content: space-around;
}
.conteudo div{
    display: flex;
    align-items: center;
    display: flex;
    gap: 5px;
    width: 200%;
}
.action img{
    width: 16px;
    height: 20px;
}
.foto-perfil{
    width: 40px;
    height: 50px;
    border-radius: 50%
}

.menu-lateral-div{
    border: 1px solid #aaa;
    margin: 20px;
    padding: 15px;
    border-radius: 1rem;
}
.novo{
    font-weight: bold;
    font-size: 20px;
}
.inscreva, .politicas{
    font-size: 12px;
    color: #aaa;
}
.menu-lateral-div button{
    width: 100%;
    border-radius: 3rem;
    color: #000;
    padding: 5px;
}


footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d9bf0;
    height: 60px;
    position: fixed;
    top: 900px;
}
footer section{
    display: flex;
    gap: 100px;
}
footer button{
    border-radius: 3rem;
    color: #000;
    padding: 10px;
    border: none;
    border: 1px solid #FFF;
}
.entrar{
    background-color: transparent;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    background-color: #000;
    margin: 14% auto;
    padding: 20px;
    width: 40%;
    border: 1px #2f3336 solid;
    border-radius: 1rem;
}
.close{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: #48525E;
    text-decoration: none;
    cursor: pointer;
}
.conteudo-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.conteudo-modal button{
    border-radius: 3rem;
    color: #000;
    border: none;
    border: 1px solid #FFF;
    width: 50%;
    padding: 10px;
}
input{
    width: 50%;
    height: 50px;
    border: 1px solid #48525E;
    border-radius: 4px;
    color: #48525E;
    background-color: transparent;
    padding: 10px;
}